.editor-wrappe
    border solid 1px #eee
    .tool-bar-item
        padding 4px 10px
        display inline-block
        border-radius 4px
        cursor pointer
        user-select none
    .tool-bar
        background rgb(40 40 40)
        padding 6px
    #editor-content
        padding 16px
        min-height 200px
