html, body
  overflow hidden
  overflow-y auto
.icon
  width 1.2em
  height 1.2em
  vertical-align -0.15em
  fill currentColor
  overflow hidden
#editor-content
  word-break break-all
#editor-content:focus, .custom-input:focus
  outline none
.custom-input
  top -100px
  left 0
  position absolute
  pointer-events none
  width 2px
  background transparent
  border none
  padding 0
.custom-input
  opacity 0
  caret-color transparent
  color transparent
.custom-input-iframe
  top -100px
  left 0
  background transparent
  color transparent
  width 10px
  height 0px
  pointer-events none
  border none
  caret-color transparent
  /* display: none; */
.custom-caret
  top -100px
  left 0
  pointer-events none
  position absolute
  width 2px
  border none
  padding 0
  /* user-select: none; */
  display block
  animation caret 1s infinite 0.5s steps(1, start)
@keyframes static-caret
  0%
    opacity 1
  100%
    opacity 1
@keyframes caret
  0%
    opacity 1
  50%
    opacity 0
  100%
    opacity 1
#editor-content ::selection
  background rgb(186, 210, 250)
#editor-content .editor-disabled
  user-select none
// test
.picker
  display flex
  justify-content space-between
  margin-top 4px
.left
  .hue
    font-size 0
    height 10px
    width 200px
    // background linear-gradient(to left, red, #ff0, lime, cyan, blue, #f0f, red)
    background linear-gradient(to left, red, #f0f, blue, cyan, lime, #ff0, red)
    .hue-picker
      pointer-events none
      display inline-block
      position relative
      width 6px
      height 12px
      // border-radius 6px
      transform translate(-6px, -1px)
      background-color rgb(248, 248, 248)
      box-shadow rgba(0, 0, 0, 0.37) 0px 1px 4px 0px
  .transparency
    position relative
    font-size 0
    height 10px
    width 200px
    background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAADFJREFUOE9jZGBgEGHAD97gk2YcNYBhmIQBgWSAP52AwoAQwJvQRg1gACckQoC2gQgAIF8IscwEtKYAAAAASUVORK5CYII=') left center
    .transparency-picker-bg
      height 100%
    .transparency-picker
      pointer-events none
      display inline-block
      position relative
      width 6px
      height 12px
      // border-radius 6px
      transform translate(-6px, -1px)
      background-color rgb(248, 248, 248)
      box-shadow rgba(0, 0, 0, 0.37) 0px 1px 4px 0px
.right
  position relative
  .color-block
    width 24px
    height 24px
    position absolute
    top 0
  .color-block-bg
    width 24px
    height 24px
    background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAADFJREFUOE9jZGBgEGHAD97gk2YcNYBhmIQBgWSAP52AwoAQwJvQRg1gACckQoC2gQgAIF8IscwEtKYAAAAASUVORK5CYII=') left center
.palette
  width 228px
  height 150px
  overflow hidden
  .palette-picker
    display inline-block
    position relative
    width 12px
    height 12px
    border-radius 50%
    pointer-events none
    box-shadow rgb(255 255 255) 0px 0px 0px 1px inset
    transform translate(-6px, -6px)
