#editor-content:focus, .custom-input:focus
  outline none
#editor-content
  box-shadow: #ccc 0px 20px 20px 2px;
  word-break break-all
  padding 15px
  .custom-input-iframe
    top -100px
    left 0
    background transparent
    color transparent
    width 0px
    height 0px
    pointer-events none
    border none
    caret-color transparent
    position absolute
  // 光标样式
  .custom-caret
    top -100px
    left 0
    pointer-events none
    position absolute
    width 2px
    border none
    padding 0
    display block
    animation caret 1s infinite 0.5s steps(1, start)
  // 光标动画
  @keyframes static-caret
    0%
      opacity 1
    100%
      opacity 1
  @keyframes caret
    0%
      opacity 1
    50%
      opacity 0
    100%
      opacity 1
  // 不可编辑元素禁止选中
  .editor-disabled
    user-select none
  // 选取颜色
  ::selection
    background rgb(186, 210, 250)
  // 表格样式
  table td, td
    background-color #ffffff
  table td, th, td, th, th, td
    display table-cell
    margin 0
    padding 0
    text-align left
    vertical-align middle
