  .picker
    display flex
    justify-content space-between
    margin-top 4px
  .left
    .hue
      font-size 0
      height 10px
      width 200px
      background linear-gradient(to left, red, #ff0, lime, cyan, blue, #f0f, red)
      .hue-picker
        display inline-block
        position relative
        width 6px
        height 12px
        transform translate(-6px, -1px)
        background-color rgb(248, 248, 248)
        box-shadow rgba(0, 0, 0, 0.37) 0px 1px 4px 0px
    .transparency
      position relative
      font-size 0
      height 10px
      width 200px
      background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAADFJREFUOE9jZGBgEGHAD97gk2YcNYBhmIQBgWSAP52AwoAQwJvQRg1gACckQoC2gQgAIF8IscwEtKYAAAAASUVORK5CYII=') left center
      .transparency-picker-bg
        height 100%
      .transparency-picker
        display inline-block
        position relative
        width 6px
        height 12px
        transform translate(-6px, -1px)
        background-color rgb(248, 248, 248)
        box-shadow rgba(0, 0, 0, 0.37) 0px 1px 4px 0px
  .right
    position relative
    cursor pointer
    .color-block
      width 24px
      height 24px
      position absolute
      top 0
    .color-block-bg
      width 24px
      height 24px
      background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAADFJREFUOE9jZGBgEGHAD97gk2YcNYBhmIQBgWSAP52AwoAQwJvQRg1gACckQoC2gQgAIF8IscwEtKYAAAAASUVORK5CYII=') left center
  .palette
    width 228px
    height 150px
    overflow hidden
    border #eeeeee solid 1px
    .palette-picker
      pointer-events none
      display inline-block
      position relative
      width 12px
      height 12px
      border-radius 50%
      box-shadow rgb(255 255 255) 0px 0px 0px 1px inset
      transform translate(-6px, -6px)
